<div class="demo-container">
  <!-- Botón de modo oscuro -->
  <div class="theme-toggle-container">
    <openiis-button-group orientation="vertical" [separated]="true">
      <openiis-button
        type="outline-primary"
        iconLeft="palette"
        size="md"
        tooltipText="Tema Clásico"
        tooltipPosition="left"
        (clickEvent)="setTheme('classic')"
      />
      <openiis-button
        type="outline-primary"
        iconLeft="style"
        size="md"
        tooltipText="Tema Neutral"
        tooltipPosition="left"
        (clickEvent)="setTheme('neutral')"
      />
      <openiis-button
        type="outline-primary"
        iconLeft="format_paint"
        size="md"
        tooltipText="Tema Vivido"
        tooltipPosition="left"
        (clickEvent)="setTheme('vivid')"
      />
      <openiis-button
        type="outline-primary"
        [iconLeft]="isDarkMode ? 'light_mode' : 'dark_mode'"
        size="md"
        tooltipText="Cambiar modo"
        tooltipPosition="left"
        (clickEvent)="toggleDarkMode()"
      />
    </openiis-button-group>
  </div>

  <div class="header-text">
    <div class="logo-container">
      <img [src]="logoSrc" alt="Checkliist" class="main-logo" />
      <div class="logo-text">
        <h1>Demo Openiis UI</h1>
      </div>
      <img [src]="sublogoSrc" alt="" class="sub-logo" />
    </div>
  </div>
  <p class="demo-description">
    Aún en construcción - Todas las implementaciones posibles de cada componente
    del sistema de diseño estarán disponibles próximamente
  </p>

  <!-- Sección de Botones -->
  <app-button-sec
    (buttonClick)="onButtonClick($event)"
    [loadingButton]="loadingButton"
    [loadingButton2]="loadingButton2"
  />

  <!-- Sección de Inputs -->
  <app-input-sec
    (formSubmit)="onFormSubmit($event)"
    (inputChange)="onInputChange($event.value, $event.field)"
    (validationChange)="onValidationChange($event, 'basic')"
    (buttonClick)="onButtonClick($event)"
    (searchChange)="onSearchChange($event)"
    (clearSearch)="onClearSearch()"
    [basicInputValue]="basicInputValue"
    [emailInputValue]="emailInputValue"
    [passwordInputValue]="passwordInputValue"
    [urlInputValue]="urlInputValue"
    [usernameInputValue]="usernameInputValue"
    [telMexicoValue]="telMexicoValue"
    [telInputValue]="telInputValue"
    [telInternationalValue]="telInternationalValue"
    [numberValue]="numberValue"
    [disabledInputValue]="disabledInputValue"
    [readonlyInputValue]="readonlyInputValue"
    [errorInputValue]="errorInputValue"
    [successInputValue]="successInputValue"
    [textareaValue]="textareaValue"
    [searchTerm]="searchTerm"
  />

  <!-- Selects -->
  <app-select-sec
    [dropdownOptions]="dropdownOptions"
    [selectedDropdownValue]="selectedDropdownValue"
    [searchableProductsOptions]="searchableProductsOptions"
    [selectedSearchableProduct]="selectedSearchableProduct"
    [searchableCountriesOptions]="searchableCountriesOptions"
    [selectedSearchableCountry]="selectedSearchableCountry"
    [citiesOptions]="citiesOptions"
    [selectedCity]="selectedCity"
    (dropdownChange)="onDropdownChange($event)"
    (searchableProductChange)="onSearchableProductChange($event)"
    (searchableCountryChange)="onSearchableCountryChange($event)"
    (cityChange)="onCityChange($event)"
  />

  <!-- Date Input -->
  <app-date-sec
    (dateChange)="onDateChange($event.value, $event.type)"
    [basicDateValue]="basicDateValue"
    [futureDate]="futureDate"
    [overdueDate]="overdueDate"
    [disabledDate]="disabledDate"
    [futureDateMinimum]="futureDateMinimum"
  />

  <!-- Checkboxes -->
  <app-checkbox-sec
    (checkboxChange)="onCheckboxChange($event.checked, $event.type)"
    [basicCheckbox]="basicCheckbox"
    [primaryCheckbox]="primaryCheckbox"
    [successCheckbox]="successCheckbox"
    [warningCheckbox]="warningCheckbox"
    [dangerCheckbox]="dangerCheckbox"
    [subtleCheckbox]="subtleCheckbox"
    [outlineCheckbox]="outlineCheckbox"
    [indeterminateCheckbox]="indeterminateCheckbox"
    [disabledCheckbox]="disabledCheckbox"
    [acceptTerms]="acceptTerms"
    [subscribeNewsletter]="subscribeNewsletter"
    [requiredField]="requiredField"
    [notificationEmail]="notificationEmail"
    [notificationPush]="notificationPush"
    [notificationSMS]="notificationSMS"
    [allNotifications]="allNotifications"
    [someNotifications]="someNotifications"
    [checkboxWithTooltip]="checkboxWithTooltip"
    [loadingCheckbox]="loadingCheckbox"
    [loadingCheckboxValue]="loadingCheckboxValue"
    [validatedCheckbox]="validatedCheckbox"
  />

  <!-- Radio Buttons -->
  <app-radio-sec
    (radioChange)="onRadioButtonChange($event.value, $event.group)"
    [selectedSize]="selectedSize"
    [selectedGender]="selectedGender"
    [selectedNotificationLevel]="selectedNotificationLevel"
  />

  <!-- Modales -->
  <app-modal-sec
    (alertClosed)="onAlertClosed()"
    (confirmConfirmed)="onConfirmConfirmed()"
    (confirmCancelled)="onConfirmCancelled()"
    (confirmThirdAction)="onConfirmThirdAction()"
    (modalConfirmed)="onModalConfirmed($event)"
    (modalClosed)="onModalClosed()"
    (showAlertEvent)="showAlert($event)"
    (showConfirmEvent)="showConfirm($event)"
    (showTextModalEvent)="showTextModal($event)"
    [showAlertModal]="showAlertModal"
    [showConfirmModal]="showConfirmModal"
    [showModal]="showModal"
    [currentAlertData]="currentAlertData"
    [currentConfirmData]="currentConfirmData"
    [currentModalData]="currentModalData"
  />

  <!-- Notificaciones -->
  <app-notification-sec
    (toastClosed)="onToastClosed($event)"
    (showToastEvent)="showToastMessage($event)"
    [showSuccessToast]="showSuccessToast"
    [showWarningToast]="showWarningToast"
    [showDangerToast]="showDangerToast"
    [showInfoToast]="showInfoToast"
    [successToastData]="successToastData"
    [warningToastData]="warningToastData"
    [dangerToastData]="dangerToastData"
    [infoToastData]="infoToastData"
  />

  <!-- Tooltips -->
  <app-tooltip-sec
    [showTooltipTop]="showTooltipTop"
    [showTooltipBottom]="showTooltipBottom"
    [showTooltipLeft]="showTooltipLeft"
    [showTooltipRight]="showTooltipRight"
    [showTooltipDefault]="showTooltipDefault"
    [showTooltipDanger]="showTooltipDanger"
  />

  <!-- Estados -->
  <app-states-sec
    (emptyStateButtonClick)="onEmptyStateButtonClick()"
    (emptyStateSearch)="onEmptyStateSearch()"
    (emptyStateError)="onEmptyStateError()"
  />

  <!-- Avatares -->
  <app-avatar-sec />

  <!-- Badges -->
  <app-badge-sec />

  <!-- Breadcrumbs -->
  <app-breadcrumb-sec />

  <!-- Cards -->
  <app-card-sec
    [cardActionButtons]="cardActionButtons"
    [productCardButtons]="productCardButtons"
    [userCardButtons]="userCardButtons"
    [onCardActionButtonClick]="onCardActionButtonClick"
    [onButtonClick]="onButtonClick"
  />

  <!-- Spinners -->
  <app-spinner-sec />

  <!-- Switches -->
  <app-switches-sec />

  <!-- Tabs -->
  <app-tab-sec />

  <!-- Uploader -->
  <app-uploader-sec
    [basicUploadConfig]="basicUploadConfig"
    [compactUploadConfig]="compactUploadConfig"
    [imageUploadConfig]="imageUploadConfig"
    [avatarUploadConfig]="avatarUploadConfig"
    [documentUploadConfig]="documentUploadConfig"
    [onFilesAdded]="onFilesAdded"
    [onAvatarUploaded]="onAvatarUploaded"
    [onDocumentsAdded]="onDocumentsAdded"
    [onGalleryUploaded]="onGalleryUploaded"
  />
</div>
